body {
  margin: 0px;
  background-color: #b3cccc;
}

.container {
  margin: 8%;
  margin-top: 10px;
}

.nav {
  background-color: white;
  padding: 10px;
}
.search-bar {
  float: right;
  vertical-align: middle;
  line-height: 38px;
  display: flex;
  width: 40%;
}
.nav-items {
  background: none;
  border: none;
  margin: 10px;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.big-image {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.images-list {
  display: flex;
}

.image-card {
  background-color: white;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
}
.image {
  width: 100%;
  max-height: 167px;
}

.image-desc {
  display: flex;
}
